@page "/"

<h1>murakami shun' LP</h1>

<div class="content-box">
    <h3 id="Awards">組み込みエンジニア/GUI/ロボット</h3>
</div>

<div class="content-box">
    <h3 id="Awards">Awards</h3>

    <div class="content-box-text">
        <h4>GUGEN2017 ファイナルステージ出場</h4>
        <h4>Yahoo! Hack Day 2017 tech賞</h4>
        <h4>MASH UP AWARD 2017 SmartTable賞</h4>
        <h4>GRデザインコンテスト2016 イノベーション賞</h4>
        <h4>GRデザインコンテスト2016 17位 </h4>

    </div>
</div>

<div class="content-box">
    <h3 id="Products">Products</h3>
    <Portfolio.Shared.Products />
</div>

<div class="content-box">
    <h3 id="Works">Works</h3>
    <div class="content-box-text">
        <h4>車載の組み込みHMIソフト開発 6年</h4>
    </div>
</div>

<div class="content-box">
    <h3 id="Favarits">Favarits</h3>
    <div class="content-box-text">
        <h4>C++, C#, UML</h4>
        <h4>Prism(C# MVVM framework),Asp .net core, Blazor, ROS</h4>
        <h4>Unity, Blender, AfterEfects</h4>
        <h4>Arduino, Rapsberry Pi, ArmCore</h4>
        <h4>React</h4>
    </div>
</div>

<div class="content-box">
    <div class="content-box-text">
        <h3 id="Posts">Posts</h3>
        <h4><a href="https://twitter.com/niwaka_plus66">Twitter</a></h4>
        <h4><a href="https://www.niwaka-plus.com/">技術ブログ</a></h4>
        <h4><a href="https://note.com/kibachis">雑記note</a></h4>
    </div>
</div>

<div class="content-box">
    <h3 id="Roadmap">Roadmap</h3>
    <div class="content-box-text">
        <h4>DBと連携したWebサービスの個人開発を実施中（React＋ASP.net Core Blazor）</h4>
    </div>
</div>

<div class="content-box">
    <h3 id="Profile">Profile</h3>
    <div class="content-box-text">
        <h4>筑波大学 システム情報工学研究科卒 CSCW Resaerch</h4>
    </div>
</div>

