@page "/"

<h1>My Portfolio</h1>

<div class="content-box">
    <h3 id="Profile">Profile</h3>
    <div class="content-box-text">
        <h4>筑波大学 システム情報工学研究科卒 CHI Resaerch</h4>
    </div>
</div>


<div class="content-box">
    <h3 id="Awards">Awards</h3>

    <div class="content-box-text">
        <h4>Mash uo award SmartTable賞</h4>
        <h4>GUGEN グランドフィナーレ出場</h4>
        <h4>GRデザインコンテスト 本戦出場 </h4>

    </div>
</div>

<div class="content-box">
    <h3 id="Products">Products</h3>
    <Portfolio.Shared.Products/>
</div>

<div class="content-box">
    <h3 id="Works">Works</h3>
    <div class="content-box-text">
        <h4>Embedded Software(HMI) 6years</h4>
    </div>
</div>

<div class="content-box">
    <h3 id="Favarits">Favarits</h3>
    <div class="content-box-text">
        <h4>C++, C#, ROS, Unity, Blender, AfterEffects, Raspberry Pi, UML</h4>
        <h4>Prism(C# MVVM framework), Blazor</h4>
    </div>
</div>

<div class="content-box">
    <div class="content-box-text">
        <h3 id="Posts">Posts</h3>
        <h4>Blog</h4>
        <h4>Twitter</h4>
    </div>
</div>

<div class="content-box">
    <h3 id="Roadmap">Roadmap</h3>
    <div class="content-box-text">
        <h4>Xamarin</h4>
    </div>
</div>
