@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<h3 id="Profile">Profile</h3>
<h3 id="Awards">Awards</h3>
<h3 id="Products">Products</h3>
<h3 id="Works">Works</h3>
<h3 id="Favarits">Favarits</h3>
<h3 id="Posts">Posts</h3>
<h3 id="Roadmap">Roadmap</h3>
